html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.allWindow {
  display: flex;
  height: 100%;
}

.sideWindow {
  width: 100px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
}

.mainWindow {
  flex: 1;
  height: 100vh;
}

.controlWindow {
  height: 20%;
  min-height: 200px;
  background-color: #181818;
}

.appWindow {
  height: 80%;
  background-color: #e9e9e9;
}
